<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnError="true" stopOnFailure="true" stopOnIncomplete="false" stopOnSkipped="false" bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name='REQUEST_METHOD' value='GET' />
  </php>
</phpunit>
